<main>
    {{#Form class="page_login center"}}
        <h2 class="form__header">Вход</h2>
        {{{FormInputContainer type="text" placeholder="Логин" name="login"}}}
        {{{FormInputContainer type="password" placeholder="Пароль" name="password"}}}
        {{{FormButton label="Добавить" id="add-user"}}}
        {{{Link class="form__link" onClick=back label="Назад"}}}
    {{/Form}}
</main>
