<main>
    {{#Form class="page_login center"}}
        <h2 class="h2 form__header">Вход</h2>
        {{{FormInput type="text" placeholder="Логин" name="login"}}}
        {{{FormInput type="password" placeholder="Пароль" name="password"}}}
        {{{FormButton label="Добавить" id="add-user"}}}
        {{{Link class="form__link" onClick=back label="Назад"}}}
    {{/Form}}
</main>

