<link rel="stylesheet" href="/partials/companion/companion.scss" />
<div class="companion">
    <div class="companion__image"></div>
    <span class="companion__name">{{name}}</span>
    <img class="companion__menu" src="/images/menu.svg" alt="menu">
</div>
