<div class="profile_input_container">
  <label for="{{label}}" class="profile_input_container__label">
    {{label}}
  </label>
  {{{ProfileInput type=this.type name=this.name placeholder=this.placeholder}}}
  {{{FormInputError error=this.error}}}
</div>
