@import "/styles/mixins";
@import "/styles/colors";

.chat_main {
  width: 75%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;

  &__stub {
    position: absolute;

    @include center;

    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: $color-gray;
  }
}
