$color-black: #1e1e1e;
$color-blue: #3369f3;
$color-light-blue: #e4edfd;
$color-gray: #999;
$color-gray-2: #8d8d8d;
$color-gray-4: #efefef;
$color-gray-3: #fbfbfb;
$color-white: #fff;
$color-red: #f00;
$color-red-2: #ff2f2f;
