<link rel="stylesheet" href="/partials/chat-messages/chat-messages.scss" />
<section class="chat_messages">
    {{#if messages.length}}
        <span class="chat_messages__date">19 июня</span>
        <ul>
            {{#each messages}}
                {{#> message/message text=this.text outgoing=this.outgoing time=this.time}}{{/message/message}}
            {{/each}}
        </ul>
    {{/if}}
</section>
