<link rel="stylesheet" href="/partials/chats/chats.scss" />
<aside class="chats">
    <div class="chats__interface">
        {{#> link/link href="/pages/Profile/index.html" class="link--gray"}}Профиль >{{/link/link}}
        {{#> search/search }}Поиск >{{/search/search}}

    </div>
    {{#if chats.length}}
        <ul class="chats__list">
        {{#each chats}}
            {{#> chat-item/chat-item chat=this}}{{/chat-item/chat-item}}
        {{/each}}
        </ul>
    {{/if}}

</aside>