<div class="form_input_container">
  <input
    class="form_input_container__input"
    type="{{type}}"
    name="{{name}}"
    autocomplete="one-time-code"
  />
  <span class="form_input_container__placeholder">
    {{placeholder}}
  </span>
</div>
