<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{resolve-from-root 'styles/index.scss'}}" />
  </head>
  <body class="body">
  {{> @partial-block}}
  </body>
</html>