<link rel="stylesheet" href="/partials/chat-input/chat-input.scss" />
<div class="chat_input">
  <img class="chat_input__add_file" src="/images/add-file-icon.svg" alt="add-file" />
  <input class="chat_input__message" placeholder="Сообщение" name="message" src="/images/add-file-icon.svg" />
  <button class="chat_input__send" type="button"> > </button>
</div>
