<link rel="stylesheet" href="/partials/form-input/form-input.scss" />
<div class="form_input_container">
  <input
    class="form_input_container__input"
    type="{{type}}"
    autocomplete="one-time-code"
  />
  <span class="form_input_container__placeholder">
    {{placeholder}}
  </span>
</div>
