<link rel="stylesheet" href="/partials/input/input.scss" />
<div class="input_container">
  <input
    class="input_container__input"
    type="{{type}}"
    value="{{value}}"
  />
  <span class="input_container__placeholder">
    {{placeholder}}
  </span>
</div>