<link rel="stylesheet" href="/partials/message/message.scss" />
<div class="message {{#if outgoing}}message--outgoing{{/if}}">
    <span class="message__text">{{text}}</span>
    <span class="message__time">{{time}}</span>
</div>
